body {
    background-color: #20272b !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rollOverlay {
    position: absolute;
    top:100px;
    color: white;
    width:100%;
}

#canvas {
    margin:auto;
    z-index: -1;
    padding-left: 10;
    padding-right: 10;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.panel {
    .d-none;
    display: inline;
    position: relative;
    margin: 10px;
    width: 100%;
}

.side-panel {
    .panel;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.grid-container > div {
  padding: 10px 10px 0px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  height: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
